$primary-color-dark: #1b2028;
$primary-color: #1b2228;
$primary-color-light: #efebe9;
$primary-text-color: #ff7043;
$primary-accent-color: #ff7b52;

$secondary-color-dark: #5587ff;
$secondary-color: #3772ff;
$secondary-text-color: #fff;
$secondary-accent-color: #ddd;

$tertiary-color-dark: #7d8396;
$tertiary-color: #343945;
$tertiary-color-light: #c5c5c5;
$tertiary-text-color: #000;
$tertiary-accent-color: #666;

$quarters-color-dark: #6fb2c5b3;
$quarters-color: #425e64;
$quarters-color-light: #31353ceb;
$quarters-text-light: #2c333ef7;
$quarters-accent-color: #060606f5;

//$fifth-color-dark: #6fb2c5;
//$fifth-color: #425e64;
//$fifth-color-light: #1b2028;
//$fifth-accent-color: #2c333e;

$opacity-color: rgba(0,0,0,0.5);
//$intense-color: #3a6073;
$shadow-color: #00000024;
$border-color: #b1b1b1b0;
//$dark-color: #000;